html, body {
  background-color: #64B5F6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.progress-ring__circle {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.10s linear;
}

.circle-procent {
  position: absolute;
  font-size: 40px;
  color: white;
  font-weight: 900;
}